body{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMVgVYx8MkGDKAI5TeTuRhkcp95e-IwC5Jj3x-Lq0JRw&s') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: hidden;
}
.form{
    margin: 0;
    position: absolute;
    left: 40%;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 10vw;
    padding: 1vw;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
hr{
    margin-top:1vw ;
    margin-bottom: 1vw;
}
#division{
    display: none;
}
.display{
    margin: 0;
    position: absolute;
    left: 30%;
    width: 40%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: fit-content;
    padding: 1vw;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#show{
    display: none;
}
input, select{
    padding: 1vw;
    font: inherit;
    background-color: white;
    border-radius: 5%;
}
.button{
    padding: 1vw;
    font-size: inherit;
    font-family: inherit;
    border-radius: 5%;
    border-color: white;
    background-color: white;
    box-shadow: 0.1vw 0.1vw 0.1em #aaaaaa;
}