body{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxaQt2T40dV8O7l7uAfQGMTx31surVN7bFbw&usqp=CAU') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: device-height;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: hidden;
}
#form{
    text-align: center;
}
#display{
    display: none;
}